.cart {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-gap: 2.5rem;

  &__empty {
    font-size: 3rem;
  }

  &__photo {
    flex: 0 0 25%;
  }

  &__row .cart__category {
    display: block;
  }

  &__row .cart__color {
    display: block;
  }

  &__row .cart__material {
    display: block;
  }

  &__content {
    flex-basis: 40%;
  }

  &__item-price {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 30%;
    padding-left: 3rem;
  }

  &__buttons {
    margin-top: 0;
  }

  &__summary {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    border: 2px solid var(--red);
    border-radius: 0.5rem;
    padding: 1rem;
    max-height: 35rem;
  }

  &__title {
    margin-bottom: 1rem;
  }

  &__promocode {
    margin-bottom: 1.5rem;
  }

  &__input {
    padding: 0.5rem 1rem;
    margin-bottom: 0.2rem;
  }

  &__button {
    padding: 0.5rem 1rem;
  }

  &__resolve-promo {
    display: none;
    margin-bottom: 0.5rem;
    color: var(--red);
  }

  &__added-promo {
    border: solid var(--black) 0.1rem;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
  }

  &__promo-header {
    text-align: center;
    font-weight: bold;
  }

  &__promo-item {
    list-style-type: none;
  }

  &__container {
    display: grid;
    grid-template-columns: 1fr 6rem;
    grid-gap: 0.5rem;
  }
}

.visible {
  display: block;
}