.cart {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-gap: 2.5rem;

  &__photo {
    flex: 0 0 25%;
  }

  &__row .cart__category {
    display: block;
  }

  &__row .cart__color {
    display: block;
  }

  &__row .cart__material {
    display: block;
  }

  &__content {
    flex-basis: 40%;
  }

  &__item-price {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 30%;
    padding-left: 3rem;
  }

  &__buttons {
    margin-top: 0;
  }

  &__summary {
    background-color: var(--white);
    border: 2px solid var(--red);
    border-radius: 0.5rem;
    padding: 1rem;
    max-height: 25rem;
  }

  &__title {
    margin-bottom: 1rem;
  }
}