// COLORS
:root {
  --black: #333b41;
  --gray: #f9f9f9;
  --green: #4b9200;
  --orange: #fa843e;
  --orange-active: #e47209;
  --red: #d31414;
  --yellow: #ffee2e;
  --white: #ffffff;
}

// BREAKPOINTS

// Устройства X-large  от 1200 до 1400 (не включая!)
$large: 1439.98px;

// Устройства Large  от 992рх до 1200 (не включая!) / small-desktop
$medium: 1199.98px;

// Устройства Medium от 576 до 992px (не включая!)/ tablets
$tablets: 991.98px;

// Устройства X-Small от 320px до 620px (не включая!) / mobile
$phones: 619.98px;
