.catalog {
  display: grid;
  gap: 0 rem(24);
  grid-template-columns: auto repeat(3, 1fr);

  &__filters {
    grid-column: span 1;
  }

  &__content {
    grid-column: span 3;

    padding-top: rem(15);
  }

  &__list {
    display: grid;
    gap: rem(24);
    list-style: none;

    &_row {
      grid-template-columns: 1fr;
    }

    &_column {
      grid-template-columns: repeat(auto-fill, minmax(278px, 1fr));
    }
  }
}
