.search {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin-bottom: rem(32);

  &__input {
    display: block;
    width: 100%;
    font-size: rem(16);
    color: var(--black);

    border: 1px solid var(--gray-light);
    border-radius: 2px;
    transition: border-color 0.15s;

    padding: rem(12);
    margin-bottom: rem(30);
  }

  &__result {
    display: flex;
    width: 100%;
    align-items: center;
    font-size: rem(28);

    &-text {
      display: block;
      text-align: end;
      width: 60%;
    }

    &-amount {
      min-width: rem(24);
    }
  }
}
