.search {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin-bottom: rem(32);

  &__input {
    display: block;
    width: 70%;
    font-size: rem(16);
    color: var(--black);
    border: 1px solid var(--black);
    outline: none;
    transition: all 0.25s ease-in;

    padding: rem(12);
    margin-bottom: rem(30);

    &:hover,
    &:focus {
      border-color: var(--orange);
    }

    &-reset,
    &-find {
      width: 15%;
      font-size: rem(18);
      cursor: pointer;

      &:hover {
        background-color: var(--red);
        border-color: var(--black);
      }
    }

    &-find:hover {
      background-color: var(--yellow);
    }
  }

  &__result {
    display: flex;
    width: 100%;
    align-items: center;
    font-size: rem(28);

    &-text {
      display: block;
      text-align: end;
      width: 60%;
    }

    &-amount {
      min-width: rem(24);
    }
  }
}
