.header {
  color: var(--gray-smoky);
  font-size: rem(48);

  &__nav {
    display: flex;
    flex-direction: column;
  }
  
  @include tablets {
    color: var(--red);
    font-size: rem(24);
  }
}
